<!DOCTYPE html>
<html>
<head>
    <title>Areas - Proyect Sobek</title>
    {% include 'includeScripts.html' %}
</head>
<body>
{% include 'nav.html' %}
<div class="row">
    <div class="medium-12 columns">
        <h1>Areas</h1>
    </div>
</div>
<div class="row card">
    <div class="medium-4 columns">
        <h3>
            Select the Area you wish to graph:
        </h3>
        <label>Field</label>
        <select id="field"
                onchange="getAreasOptions('area', 'field');"></select>
        <label>Area</label>
        <select id="area"></select>

        <p>Select the range of dates you wish to graph:</p>

        <label for="from">From</label>
        <input id="from_datetimepicker" type="text"/>
        <label for="to">to</label>
        <input id="to_datetimepicker" type="text"/>

        <ul class="button-group [radius round]">
            <li>
                <button onclick="quick_date(1)" class="button">6 hours</button>
            </li>
            <li>
                <button onclick="quick_date(2)" class="button">24 hours</button>
            </li>
            <li>
                <button onclick="quick_date(3)" class="button">7 days</button>
            </li>
            <li>
                <button onclick="quick_date(4)" class="button">15 days</button>
            </li>
            <li>
                <button onclick="quick_date(5)" class="button">30 days</button>
            </li>
        </ul>

        <br/>

        <ul class="button-group [radius round]">
            <li>
                <button class="button" onclick="graphLogs()">Graph</button>
            </li>
            <li>
                <button class="button [secondary alert success]"
                        onclick="hideTag('graphs')">Clean
                </button>
            </li>
        </ul>

    </div>

    <div class="medium-4 columns">
        <h3>Current data</h3>

        <div id="current_area"></div>
    </div>

    <div class="medium-4 columns">
        <h3>Graphs</h3>
        <section id="graphs">
            <h4>Evotranspiration</h4>

            <div id="ev_chart" height="400" width="1000"></div>
        </section>
    </div>

</div>
<br/>
<br/>
<br/>
{% include 'footer.html' %}

<script>

    // Getting data from
    getAjaxFarmFields('field', 'area', '');

    google.load("visualization", "1", {packages: ["corechart"]});

    var from_picker = '#to_datetimepicker';
    var to_picker = '#from_datetimepicker';

    initDatePickers(from_picker, to_picker);


    function graphLogs() {
        var area_id = $('#area').val();

        $.ajax({
            url: "/Crop_Area_Agg/",
            data: {
                area_id: area_id,
                min_date: init_date.dateFormat('Y-m-d H:i:s'),
                max_date: end_date.dateFormat('Y-m-d H:i:s'),
                ordering: "-area_date_received"
            },

            success: function (data) {
                var ev_array = [];
                ev_array.push(['Time', 'EV']);

                $.each(data, function (index, value) {

                    var date_received = new Date(Date.parse(value.area_date_received));

                    var tmp_array = [];
                    tmp_array.push(date_received);
                    tmp_array.push(value.area_ev);
                    ev_array.push(tmp_array);
                });

                var data_ev = google.visualization.arrayToDataTable(ev_array);
                var options = {
                    smoothLine: true
                };

                var chart_ev = new google.visualization.LineChart(document.getElementById('ev_chart'));
                chart_ev.draw(data_ev, options);
            }
        });
    }


</script>

</body>
</html>