<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Configuration - Proyect Sobek</title>
    {%  include 'includeScripts.html' %}

</head>
<body>

    {%  include 'nav.html' %}
    <section>
        <h1>Configuration</h1>
        <p>Select the valve to configure</p>

        <label>Field</label>
        <select id="field" onchange="getAreas('area', 'field');"></select>
        <label>Area</label>
        <select id="area" onchange="getValves('valve', 'area');"></select>
        <label>Valve</label>
        <select id="valve" onchange="hideOperations();"></select>

        <button onclick="getConfigurations()">Get Configuration</button>
    </section>

    <section id="opModeSelect">
        <label>Operation Mode</label>
        <select id="operationMode" onchange="loadOperationMode();">
            <option value="1">Manual</option>
            <option value="2">Automatic</option>
            <!--<option value="3">Timer</option>-->
        </select>
    </section>

    <section id="opManual" class="operationModes">
        <label>ON</label>
        <input type="radio" name="rOpMan" id="rOpManON" value="1" selected/>
        <label>OFF</label>
        <input type="radio" name="rOpMan" id="rOpManOFF" value="0"/>

        <button onclick="saveOpMan();">Save</button>
    </section>

    <section id="opAutomatic" class="operationModes">

        <label>Minimum Humidity</label>
        <input type="number" id="maxHum" max="100" min="0" step="0.1"/>
        <label>Maximum Humidity</label>
        <input type="number" id="minHum" max="100" min="0" step="0.1"/>

        <button onclick="saveOpAut();">Save</button>

    </section>

    <section id="opTimer" class="operationModes">
        <button onclick="saveOpTim();">Save</button>
    </section>

    <style>
        #opModeSelect, .operationModes{
            display: none;
        }
    </style>

    <script>
        var strConfig;

        $(function() {
            getFields('field', 'area', 'valve');
        });

        function getConfigurations(){
            //alert($('#valve').val());
            $('#opModeSelect').css('display','block');
        }

        function hideOperations(){
            $('#opModeSelect').css('display','none');
            $('.operationModes').css('display','none');
        }

        function loadOperationMode(){
            $('.operationModes').css('display','none');
            switch ( $('#operationMode').val() ){
                case "1":
                    $('#opManual').css('display', 'block');
                    break;
                case "2":
                    $('#opAutomatic').css('display', 'block');
                    break;
                case "3":
                    $('#opTimer').css('display', 'block');
                    break;
            }
        }

        function saveOpMan(){
            strConfig = "1-";
            console.log($('input[name=rOpMan]:radio:checked').val(0))
            //strConfig += $('input[name=rOpMan]:radio:checked').val(0);
            //alert ("You didn't select an operation");

            strConfig += "#";
            alert(strConfig);
        }

        function saveOpAut(){
            strConfig = "2-";
            strConfig += $('#maxHum').val();
            strConfig += "/";
            strConfig += $('#minHum').val();
            strConfig += "#";
            alert(strConfig);
        }

        function saveOpTim(){
            strConfig = "3-";
            strConfig += "#";
            alert(strConfig);
        }
    </script>
</body>
</html>