<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Configuration - Proyect Sobek</title>
    {% include 'includeScripts.html' %}

</head>
<body>

{% include 'nav.html' %}
<div class="row">
    <div class="medium-12 columns">
        <h1>Configuration</h1>
    </div>
</div>
<div class="row">
    <div class="medium-6 card">
        <p>Select the area to configure</p>

        <label>Field</label>
        <select id="field" onchange="getAreas('area', 'field');"></select>
        <label>Area</label>
        <select id="area" onchange="hideOperations();"></select>

        <button onclick="getConfigurations()">Get Configuration</button>

        <section id="opModeSelect">
            <label>Operation Mode</label>
            <select id="operationMode" onchange="loadOperationMode();">
                <option value="1">Manual</option>
                <option value="2">Automatic</option>
                <!--<option value="3">Timer</option>-->
            </select>
        </section>

        <section id="opManual" class="operationModes">
            <label>ON</label>
            <input type="radio" name="rOpMan" id="rOpManON" value="1" selected/>
            <label>OFF</label>
            <input type="radio" name="rOpMan" id="rOpManOFF" value="0"/>
            <br/>
            <button onclick="saveOpMan();">Save</button>
        </section>

        <section id="opAutomatic" class="operationModes">

            <label>Minimum Soil Moisture</label>
            <input type="number" id="maxHum" max="99.9" min="0" step="0.1" class="inpHumidity" value="0"/>
            <label>Maximum Soil Moisture</label>
            <input type="number" id="minHum" max="99.9" min="0" step="0.1" class="inpHumidity" value="0"/>

            <button onclick="saveOpAut();">Save</button>

        </section>


        <section id="opTimer" class="operationModes">
            <button onclick="saveOpTim();">Save</button>
        </section>

        <style>
            #opModeSelect, .operationModes {
                display: none;
            }

            .inpHumidity {
                width: 50px;
            }
        </style>
    </div>
</div>

<script>
    var strConfig;

    $(function () {
        getFields('field', 'area', '');
    });

    function getConfigurations() {
        var area_id = $('#area').val();
        var url = "http://riego.chi.itesm.mx/Area_Configuration/" + area_id;
        $.ajax({
            url: url,
            success: function(json){
                $('#opModeSelect').css('display', 'block');
                $('#opAutomatic').css('display', 'none');
                $('#opManual').css('display', 'none');

                console.log(json);
                var area_configuration = json.area_configuration.substr(2);
                var area_operation = json.area_configuration[0];
                switch (area_operation){
                    case "1":
                        $('#operationMode').val(1);
                        $('#opManual').css('display', 'block');
                        if(area_configuration === "0"){
                            $('#rOpManOFF').attr('checked', 'checked');
                        }else{
                            $('#rOpManON').attr('checked', 'checked');
                        }
                        break;
                    case "2":
                        $('#operationMode').val(2);
                        $('#opAutomatic').css('display', 'block');
                        $('#maxHum').val(area_configuration.substr(0,2) + "." +  area_configuration.substr(2,1) );
                        $('#minHum').val(area_configuration.substr(3,2) + "." +  area_configuration.substr(5,1) );
                        break;
                }

            }
        } );
    }

    function hideOperations() {
        $('#opModeSelect').css('display', 'none');
        $('.operationModes').css('display', 'none');
    }

    function loadOperationMode() {
        $('.operationModes').css('display', 'none');
        switch ($('#operationMode').val()) {
            case "1":
                $('#opManual').css('display', 'block');
                break;
            case "2":
                $('#opAutomatic').css('display', 'block');
                break;
            case "3":
                $('#opTimer').css('display', 'block');
                break;
        }
    }

    function saveOpMan() {
        var area_id = $('#area').val();
        var url = "http://riego.chi.itesm.mx/Area_Configuration/" + area_id;

        strConfig = "1-";
        console.log($('input[name=rOpMan]:radio:checked').val(0));
        switch ($('input[name=rOpMan]:radio:checked').attr('id')) {
            case 'rOpManON':
                strConfig += '1';
                break;
            case 'rOpManOFF':
                strConfig += '0';
                break;
            default:
                alert("You didn't select an operation");
                return;
                break;
        }

        $.ajax({
            url: url,
            type: 'PUT',
            data: { area_configuration: strConfig },
            success: function(data) {
                $('.result').html(data);
                alert('Data was sent');
            }
        });

        alert(strConfig);
    }

    function saveOpAut() {
        var area_id = $('#area').val();
        var url = "http://riego.chi.itesm.mx/Area_Configuration/" + area_id;

        strConfig = "2-";
        var maxHum = parseFloat($('#maxHum').val());
        var minHum = parseFloat($('#minHum').val());

        var integerMax = parseInt(Math.floor(maxHum) + (maxHum % 1).toFixed(1).substr(2,1));
        var integerMin = parseInt(Math.floor(minHum) + (minHum % 1).toFixed(1).substr(2,1));

        strConfig += lPad3(integerMax) + lPad3(integerMin);

        $.ajax({
            url: url,
            type: 'PUT',
            data: { area_configuration: strConfig },
            success: function(data) {
                $('.result').html(data);
                alert('Data was sent');
            }
        });

        alert(strConfig);
    }

    function saveOpTim() {
        strConfig = "3-";
        strConfig += "#";
        alert(strConfig);
    }

    function lPad3(number) {
        if (number<=999) { number = ("00"+number).slice(-3); }
        return number;
    }
</script>
</body>
</html>