<!DOCTYPE html>
<html>
<head>
    <title>Water Automation-GPRSs</title>
     {% include 'includeScripts.html' %}
    <style>
        #map_canvas{
            width: 1000px;
            height: 400px;
            background-color: greenyellow;
            margin: 30px 10px 30px 130px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>

{% include 'nav.html' %}
<div class="row">
    <div class="medium-12 columns">
        <h1>GPRS's</h1>
    </div>
</div>

<div class="row">
        <h3>Current data</h3>
        <div id="current_field" class="clearfix"></div>
        <div id="signal_chart" height="400" width="5000"></div>
</div>
<div id="map_canvas">

</div>
{% include 'footer.html' %}
</body>



<script>
getFarmFields();
google.load("visualization", "1", {packages: ["corechart"]});

function graphLogs(clicked_id) {
        var field_id = clicked_id;
        console.log(clicked_id);
        $.ajax({
            url: ("/Farm_Field/"+field_id+"/?format=json"),
            data: {

                  },
            success:  function (data) {
                //console.log(data);
                var signal_array = [];
                var temp_array = [];
                signal_array.push(['Time', 'signal']);
                var date_received = new Date(Date.parse(data.field_date_received));
                var signal = data.field_signal;
                temp_array.push(date_received,signal);
                signal_array.push(temp_array);
                console.log(date_received, signal);
                console.log(signal_array);
                var data_signal = google.visualization.arrayToDataTable(signal_array);
                var chart_signal = new google.visualization.LineChart(document.getElementById('signal_chart'));
                var options = { smoothLine: true };

                chart_signal.draw(data_signal, options);
            }
        });
    }
    function showFieldTecinMaps (){
        initialize(28.675212, -106.080549)
    }
    function showGoogleMaps(clicked_id) {
        var field_id_clicked;
        var latitude;
        var longitude;
        var clicked =Number(clicked_id);
        if (clicked===1){
            showFieldTecinMaps();
            return false;
        }
        console.log(clicked_id);
        $.ajax({
            url: "Farm_Field",
            data: { field_id: field_id_clicked},
            success: function (data) {
                console.log('AJAX SUCCESS');
                $.each(data, function (index, value) {
                        field_id_clicked= value.field_id;
                        longitude = value.field_latitude;
                        latitude = value.field_longitude;

                        if (field_id_clicked===clicked){
                          initialize(latitude, longitude);
                        }
                });
            console.log(latitude, longitude);
            }
        });
    }
    function initialize(latitude,longitude) {
        var mapCanvas = document.getElementById('map_canvas');
        var field_position = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
            center: field_position,
            zoom: 17,
            tilt: 45,
            mapTypeId: google.maps.MapTypeId.HYBRID

        }
        var map = new google.maps.Map(mapCanvas, mapOptions);
        var marker = new google.maps.Marker ({
            position: map.getCenter(),
            map: map
        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>
</html>