
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script src="{{ STATIC_URL }}Chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}sobek_v1.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href="{{ STATIC_URL }}sobek_v1.css" rel='stylesheet' type='text/css'>
<link href="{{ STATIC_URL }}clouds.css" rel='stylesheet' type='text/css'>