<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Water Automation | Home</title>

{#Foundation files#}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/foundation.css">
<script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>


<script src="{{ STATIC_URL }}Chart.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{{ STATIC_URL }}sobek_v1.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

<!-- Foundation Top Bar -->
<script src="{{ STATIC_URL }}js/foundation/foundation.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.dropdown.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.topbar.js"></script>
<script src="{{ STATIC_URL }}js/foundation/foundation.offcanvas.js"></script>


{#New CSS Rules#}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sobek.css">