<!DOCTYPE html>
<html>
<head>
    <title>Proyecto Sobek</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includeScripts.html' %}
</head>
<body>
{% include 'nav.html' %}

{#Welcome message#}
<div class="row">
    <div class="large-12 columns">
        <h1>Water Automation System</h1>
    </div>
</div>

{#API & Logs#}
<div class="row">
    <div class="small-4 columns card">

        <h2>API</h2>
        <ul>
            <li><a href="/Farm_Field/">Fields</a></li>
            <li><a href="/Valve/">Valves</a></li>
            <li><a href="/Crop/">Crops</a></li>
            <li><a href="/Crop_Area/">Areas</a></li>
            <li><a href="/Weather_Station/">Stations</a></li>
            <li><a href="/Sensor/">Sensors</a></li>
        </ul>

    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="small-4 columns card">
        <h2>Logs</h2>
        <ul>
            <li><a href="/Crop_Area_Log/">Area Log</a></li>
            <li><a href="/Sensor_Log/">Sensor Log</a></li>
            <li><a href="/Valve_Log/">Valve Log</a></li>
            <li><a href="/Station_Log/">Station Log</a></li>
        </ul>
    </div>

</div>


{% include 'footer.html' %}
</body>
</html>