<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Water Automation</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includeScripts.html' %}
</head>
<body>
{% include 'nav.html' %}

<div class="row">&nbsp;</div>
<div class="row card">
    <!-- Weather Information Current Data -->
    <div class="medium-4 columns">
        <h3 class="show-for-small">Sensor 0 Moisture Graph
            <hr/>
        </h3>
        <div class="panel">
            <h4>Weather Information
                <hr/>
            </h4>
            <p id="station_data">Station Id: </p>

            <p id="date_data">Date: </p>

            <p id="humidity_data">Relative Humidity: </p>

            <p id="radiation_data">Radiation: </p>

            <p id="status_data">Status: </p>

            <p id="temperature_data">Temperature: </p>

            <p id="wind_data">Wind Speed: </p>

            <p id="rain_data">Rain: </p>
        </div>
    </div>

    <div class="medium-8 columns">
        <br/>
        <br/>


        <div class="row">
            <div class="small-5 columns">
                <label for="field">Field</label>
                <select id="field" onchange="getAreasOptions('area','field'),getAreaForFieldSelected(), LoadWeatherData()"></select>
            </div>
            <div class="small-5 columns">
                <label for="area">Area</label>
                <select id="area" onchange="getConsolidatedSensorIDForArea()" ></select>
            </div>
        </div>

        <div class="large-12 columns">
            <ul class="button-group [radius round]">
                <li>
                    <button onclick="quick_date(1)" class="button small">6 hours
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(2)" class="button small">24 hours
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(3)" class="button small">7 days
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(4)" class="button small">15 days
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(5)" class="button small">30 days
                    </button>
                </li>
            </ul>
           </div>
        <br/><br/><br/><br/><br/><br/><br/><br/>

       <div class="progress round">
            <p id="progress_message" style="float: left; margin-right:5px"></p>
            <span id="progress" class="meter" style="width: 0; float: left">
           </span>

       </div>
       <!-- <div id="spinner" class="spinner" style="display:none;">
            <img id="img-spinner" src="../static/img/ajax-loader.gif" alt="Loading"/>
<       </div>-->
       <br/><br/>
       <br/>
       <br/>




        <br>

         <div class="large-12 columns">

            <div id="default_sensor"></div>

            <div id="moisture_chart" ></div>

            <div id="ev_chart"></div>

            <div id="flow_chart" ></div>
          </div>

    </div>

</div>

<div class="row">
    &nbsp;
</div>



<div class="row">
    &nbsp;
</div>


<div class="row">
    &nbsp;
</div>


{% include 'footer.html' %}
<script>

/*NOTA: Existen "Pruebas de control" que imprimen en la consola de los navegadores, descomentarlas para usarlas, recuerda
volver a comentarlas de ya no necesitarlas. De modificar el código, sigue el mismo formato de comentarios.
*/

//PAQUETE PARA GRAFICAS DE GOOGLE:
google.load('visualization', '1.0', {'packages': ['corechart']});
//GraphPrueba();
{#getAjaxFarmFields('field', 'area', 'sensor');#}

//SELECTORS:
var field_selector = $('#field');
var area_selector = $('#area');
var sensor_selector = $('#sensor');
var valve_selector = $('#valve');

//DATE PICKERS:
var from_picker = '#to_datetimepicker';
var to_picker = '#from_datetimepicker';
initDatePickers(from_picker,to_picker);

//POPULATE SELECTORS:
PopulateFields();
//POPULATE WEATHER STATION DATA
getAjaxWeatherData(11);
//LOG ANY ERROR CODE. SEE CONSOLE.
//LogErrorCode();


/**
 * Populate the selector with the existing fields

 * */
function PopulateFields() {
    var current_field;
    $.ajax({
        url: "/Farm_Field",
        data: {},
        success: function (data) {
            var options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.field_id + '">' + value.field_name + '</option>';
            });
            field_selector.html(options);
            current_field = $("#field").val();
            console.log("THE CURRENT FIELD SELECTED: " + current_field);
            PopulateAreaForField(current_field);
        }
    });
}

/**
 * Populates the area selector accordingly to the value on the field selector, so it just puts the areas
 * belonging to the field selected.
 *
 * @param {Number} field_id Identification number for the field.

 * */
function PopulateAreaForField(field){
    $.ajax({
        url: "Area_Search",
        data: {fk_farm_field: field},
        success: function (data){
            var options ="";
            $.each(data, function(index,value){
                options += '<option value=" '+ value.area_id+ '">' + value.area_name + '</option>';
            });
            area_selector.html(options);

        }
    });
}
/**
 * Gets the current areas for a field on field change.
 * */
function getAreaForFieldSelected () {
    var current_field=$("#field").val();
    var current_area;
    $.ajax({
        url: "/Area_Search/",
        data: {fk_farm_field: current_field },
        success: function (data) {
            options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.area_id + '">' + value.area_name + '</option>';
            });
            $('#area').html(options);
            current_area= $('#area').val();

            console.log("CURRENT AREA SELECTED: " + current_area);
            getConsolidatedSensorIDForArea();
            //LogErrorCode();
        }
    });
}
 /**
 * Gets the consolidated sensor_id for an area
 * */

function getConsolidatedSensorIDForArea ( ) {
    current_farmfield_id= $("#field").val();
    current_area_id= $("#area").val();

    var Consolidated_Sensor_id;
    Consolidated_Sensor_id = (parseInt(current_area_id)*10);
    //PRUEBA
    console.log("CONSOLIDATED SENSOR FOR THIS AREA: "+ Consolidated_Sensor_id);
    console.log("CURRENT AREA SELECTED: " + current_area_id);
    getSensorLogGraph(Consolidated_Sensor_id);
}
/**
 * Graphs the data from a consolidated sensor in the area selected
 *
 * @param {Number} the sensor_id of the consolidated sensor in the area
 * */

function getSensorLogGraph(Consolidate_sensor_id) {
    var sensor_id = Consolidate_sensor_id;
    var sensor_graph_data;
    //PRUEBA:console.log(sensor_id);
    console.log(use_agg);
    /*
    if (use_agg===0){
        sensor_graph_data= "/Sensor_Log/";
    }
    else {
        sensor_graph_data= "/Sensor_Agg/";
    }
    */
    sensor_graph_data = "/Sensor_Log/";
    $.ajax({
        url: sensor_graph_data,
        data: {
            sensor_id: sensor_id,
            min_date: init_date.dateFormat('Y-m-d H:i:s'),
            max_date: end_date.dateFormat('Y-m-d H:i:s'),
            ordering: "-sensor_date_received"
        },
        beforeSend: displayLoading,
        success: function (data) {
            var moisture_array = [];
            //PRUEBA console.log(data);
            moisture_array.push(['Time', 'HL0']);
            if (data.length == 0) {
                moisture_array.push([end_date.dateFormat('Y-m-d H:i:s'), 0]);
            }

            $.each(data, function (index, value) {
                var date_received = new Date(Date.parse(value.sensor_date_received));
                var temp_array = [];
                temp_array.push(date_received);
                temp_array.push(value.sensor_hl1);
                moisture_array.push(temp_array);
            });


            //PRUEBA SENSOR:console.log(moisture_array);
            var data_moisture = google.visualization.arrayToDataTable(moisture_array);

            var chart_moisture = new google.visualization.LineChart(document.getElementById('moisture_chart'));

            var options = {
                title: 'Soil Moisture',
                smoothLine: true,
                vAxis: {
                    viewWindow: { max:70, min:20}
                }
            };
            hideLoading();
            chart_moisture.draw(data_moisture, options);
            //LogErrorCode();
        }});
}
/*
function populateSensorAndValves(area_id) {
    getSensorsForArea(area_id, function (data) {

        var options = '';
        $.each(data, function (index, value) {

            options += '<option value="' + value.sensor_id + '">' + value.sensor_id + '</option>';

        });

        sensor_selector.html(options);
    });

    getValvesForArea(area_id, function (data) {

        var options = '';
        $.each(data, function (index, value) {

            options += '<option value="' + value.valve_id + '">' + value
                    .valve_id + '</option>';

        });
        valve_selector.html(options);
    });
}
*/

//CALL THE WEATHER DATA TO FILL:
function LoadWeatherData () {
    var field_id = $("#field").val();
    var station_id = field_id + '1';
    station_id= station_id.replace(/\s/g, '');
    console.log('Staion ID: ' + station_id);
    getAjaxWeatherData(station_id);
}

// SET THE INITIAL AND END DATE:
var init_date = new Date();
var end_date = new Date();

init_date.setDate(end_date.getDate() - 10);
//SET THE PROGRESS BAR
var progressBar = $('#progress');

function setInitDate(option) {
    init_date = getStartingDate(option);
    //PRUEBA: console.log('from: ' + init_date + ' to ' + end_date);
    graphData();

}
/**
 * Graphs the evotranspiration
 * */
function graphLogs() {
    var area_id = $('#area').val();
    getConsolidatedSensorIDForArea(area_id,1);
    getEvotranspirationLog(area_id, init_date, end_date, function (data) {
        var ev_array = [];
        ev_array.push(['Time', 'EV']);
        if (data.length == 0) {
            ev_array.push([end_date.dateFormat('Y-m-d H:i:s'), 0]);
        } else {
            $.each(data, function (index, value) {
                       // PRUEBAS: console.log(data);
                        var date_received = new Date(Date.parse(value.area_date_received));

                        var tmp_array = [];
                        tmp_array.push(date_received);
                        tmp_array.push(value.area_ev);
                        ev_array.push(tmp_array);
                    }
            );
        }
        //PRUEBAS: console.log(ev_array);
        var data_ev = google.visualization.arrayToDataTable(ev_array);
        var options = {
            title: 'Evotranspiration',
            smoothLine: true,
              vAxis: {
                    viewWindow: { max:25, min:0}
                }
        };

        var chart_ev = new google.visualization.LineChart(document.getElementById('ev_chart'));
        chart_ev.draw(data_ev, options);
    });
        getValveForArea();
        LogErrorCode();
}
/**
 * Requests the valves for the area selected
 * */
 function getValveForArea(){
     var current_area=area_selector.val();
     var current_valve;
        $.ajax({
            url:"Valve_Search",
            data: {fk_area: current_area},
            success: function(data){

                $.each(data,function(index, value){
                    current_valve=value.valve_id;
                });
            graphValveData(current_valve);
            }
        });
    //LogErrorCode();
    }
/**
 * Graphs the valve data of a valve in the area selected.
 *
 * @param {Number} valve_id The id of the valve to graph
 * */
function graphValveData(current_valve) {
    var valve_graph_data;
    //PRUEBA:
    //console.log(sensor_id);
    console.log (use_agg);
   /* if (use_agg === 0){
        valve_graph_data= "/Valve_Log/";
    }
    else {
        valve_graph_data= "/Valve_Agg/";
    }*/
    var valve_id= current_valve;
            $.ajax({
                url: "/Valve_Log/",
                data: {
                    valve_id: valve_id,
                    min_date: init_date.dateFormat('Y-m-d H:i:s'),
                    max_date: end_date.dateFormat('Y-m-d H:i:s'),
                    ordering: "-valve_date_received"
                },
                success: function (data) {
                    var valve_flow_array = [
                        ['Time', 'Flow']
                    ];

                    /*if (data.length === 0) {
                        valve_flow_array.push([end_date.dateFormat('Y-m-d H:i:s'),
                            0]);

                    } else {*/
                        $.each(data, function (index, value) {
                            var date_received = new Date(Date.parse(value.valve_date_received));

                            var temp_array = [];
                            temp_array.push(date_received);
                            temp_array.push(value.valve_flow);
                            valve_flow_array.push(temp_array);
                        });
                    


                    /* var data_actuator = google.visualization.arrayToDataTable(valve_actuator_array);*/
                    var data_flow = google.visualization.arrayToDataTable(valve_flow_array);
                    /*var data_pressure = google.visualization.arrayToDataTable(valve_pressure_array);*/

                    var options = {
                        smoothLine: true,
                        title: 'Flow',
                          vAxis: {
                             viewWindow: { max:50, min:0}
                           }
                    };
                    /*var chart_actuator = new google.visualization.LineChart(document.getElementById('valve_actuator_graph'));
        chart_actuator.draw(data_actuator, options);*/

        var chart_flow = new google.visualization.LineChart(document.getElementById('flow_chart'));
        chart_flow.draw(data_flow, options);
                    /*var chart_pressure = new google.visualization.LineChart(document.getElementById('valve_pressure_graph'));
        chart_pressure.draw(data_pressure, options);*/

    }
    });
   // LogErrorCode();
}
/**
 * Graphs the valve data of a valve in the area selected.
 *
 * @param {Number} valve_id The id of the valve to graph
 * */
function LogErrorCode ()
{
 var error_code;
 var current_field = $("#field").val();
    $.ajax({
        url: "/Weather_Station/",
        data: {
        fk_farm_field: current_field
        },
    success: function (data) {
        $.each (data, function (index, value ){
          error_code = value.station_user_define2;
          console.log("ERROR CODE: " + error_code);
        })
    }
    })

}

</script>
</body>
</html>
