<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Proyecto Sobek</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includeScripts.html' %}
</head>
<body>
{% include 'nav.html' %}

<div class="row">&nbsp;</div>
<div class="row">
    <!-- Weather Information Current Data -->
    <div class="large-3 columns">
        <h3 class="show-for-small">Sensor 0 Moisture Graph
            <hr/>
        </h3>
        <div class="panel">
            <h4>Weather Information
                <hr/>
            </h4>
            <p id="station_data">Station Id: </p>

            <p id="date_data">Date: </p>

            <p id="humidity_data">Relative Humidity: </p>

            <p id="radiation_data">Radiation: </p>

            <p id="status_data">Status: </p>

            <p id="temperature_data">Temperature: </p>

            <p id="wind_data">Wind Speed: </p>
        </div>
    </div>

    <div class="large-9 columns">
        <br/>
        <br/>


        <div class="row">
            <div class="small-5 columns">
                <label for="field">Field</label>
                <select id="field" onchange="getAreasOptions('area','field'),getConsolidatedSensorForFieldSelected()"></select>
            </div>
            <div class="small-5 columns">
                <label for="area">Area</label>
                <select id="area" onchange="getConsolidatedSensorForFieldSelected()" ></select>
            </div>
        </div>

        <div class="large-12 columns">
            <ul class="button-group [radius round]">
                <li>
                    <button onclick="quick_date(1)" class="button">6 hours
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(2)" class="button">24 hours
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(3)" class="button">7 days
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(4)" class="button">15 days
                    </button>
                </li>
                <li>
                    <button onclick="quick_date(5)" class="button">30 days
                    </button>
                </li>
            </ul>
           </div>

       <div class="progress round">
            <p id="progress_message" style="float: left; margin-right:
            5px"></p>
            <span id="progress" class="meter"
                  style="width: 0; float: left"></span>
        <br/>
       </div>


        <div class="row">
            <div class="small-4 columns">
                <label for="from_datetimepicker" >From</label>
                <input id="from_datetimepicker" type="text"/>
             </div>
            <div class="small-4 columns">
                 <label for="to_datetimepicker" >to</label>
                <input id="to_datetimepicker" type="text"/>
            </div>
        </div>

        <br>



    </div>

</div>

<div class="row">
    &nbsp;
</div>

        <div class="large-21 columns">

            <div id="default_sensor"></div>

            <div id="moisture_chart" ></div>

            <div id="ev_chart"></div>

            <div id="flow_chart" ></div>
          </div>

</div>

<div class="row">
    &nbsp;
</div>


<div class="row">
    &nbsp;
</div>


{% include 'footer.html' %}
<script>


// Load the Visualization API library and the piechart library.
google.load('visualization', '1.0', {'packages': ['corechart']});
{#getAjaxFarmFields('field', 'area', 'sensor');#}

var field_selector = $('#field');
var area_selector = $('#area');
var sensor_selector = $('#sensor');
var valve_selector = $('#valve');


var from_picker = '#to_datetimepicker';
var to_picker = '#from_datetimepicker';
initDatePickers(from_picker,to_picker);

PopulateFields();
function PopulateFields() {
    var current_field;
    $.ajax({
        url: "/Farm_Field",
        data: {},
        success: function (data) {
            var options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.field_id + '">' + value.field_name + '</option>';
            });
            field_selector.html(options);
            current_field = $("#field").val();
            //console.log(current_field);
            PopulateAreaForField(current_field);
        }
    });
}
function PopulateAreaForField(field){
    $.ajax({
        url: "Area_Search",
        data: {fk_farm_field: field},
        success: function (data){
            var options ="";
            $.each(data, function(index,value){
                options += '<option value=" '+ value.area_id+ '">' + value.area_name + '</option>';
            });
            area_selector.html(options);
        }
    });
}
function getConsolidatedSensorForFieldSelected () {
    var current_field=$("#field").val();
    $.ajax({
        url: "/Area_Search/",
        data: {fk_farm_field: current_field },
        success: function (data) {
            options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.area_id + '">' + value.area_name + '</option>';
            });
            $('#area').html(options);
            getSensorForArea('area');
        }
    });
}
function getSensorForArea(area_selector){
  var current_area=$('#'+area_selector).val();
  if(current_area===null){
      $("#default_sensor").html("");
      return false;
  }
  //console.log(current_area);
    $.ajax({
        url:"/Sensor_Search",
        data: {fk_area:current_area,
               sensor_id: 0 },
        success:function(data) {
            var default_sensor = "";

            $.each(data, function (index, value) {
                if(data.isEmptyObject){default_sensor=" ";}
                default_sensor += "<p>Sensor: " + value.sensor_id + "</p>";
            });
            $('#default_sensor').html(default_sensor);
        }
    });
}



function populateSensorAndValves(area_id) {
    getSensorsForArea(area_id, function (data) {

        var options = '';
        $.each(data, function (index, value) {

            options += '<option value="' + value.sensor_id + '">' + value.sensor_id + '</option>';

        });

        sensor_selector.html(options);
    });

    getValvesForArea(area_id, function (data) {

        var options = '';
        $.each(data, function (index, value) {

            options += '<option value="' + value.valve_id + '">' + value
                    .valve_id + '</option>';

        });
        valve_selector.html(options);
    });
}

getAjaxWeatherData(31, weatherCallback);

var init_date = new Date();
var end_date = new Date();

init_date.setDate(end_date.getDate() - 10);

var progressBar = $('#progress');

function setInitDate(option) {
    init_date = getStartingDate(option);
    console.log('from: ' + init_date + ' to ' + end_date);
    graphData();

}

function graphLogs() {
    var default_sensor_id = 0;
    $.ajax({
        url: "/Sensor_Agg/",
        data: {
            sensor_id: default_sensor_id,
            min_date: init_date.dateFormat('Y-m-d H:i:s'),
            max_date: end_date.dateFormat('Y-m-d H:i:s'),
            ordering: "-sensor_date_received"
        },
        beforeSend: displayLoading,
        success: function (data) {
            var current_sensor = "";
            var moisture_array = [];
            //console.log(data);
            moisture_array.push(['Time', 'HL0']);

            $.each(data, function (index, value) {
                var date_received = new Date(Date.parse(value.sensor_date_received));
                current_sensor += "<div class='panel large-12'>";
                current_sensor += "<h4>Sensor: 0 </h4>";
                current_sensor += "<p>Status: " + value.sensor_status + "<br/>";
                current_sensor += "HL0: " + value.sensor_hl1 + "<br/>";
                current_sensor += "Temperature: " + value.sensor_temperature + "<br/>";
                ;
                current_sensor += "Date: " + date_received + "</p>";
                current_sensor += "</div>";
                var temp_array = [];
                temp_array.push(date_received);
                temp_array.push(value.sensor_hl1);
                moisture_array.push(temp_array);
            });

            $('#current_sensor').html(current_sensor);
            var data_moisture = google.visualization.arrayToDataTable(moisture_array);

            var chart_moisture = new google.visualization.LineChart(document.getElementById('moisture_chart'));

            var options = {
                title: 'Soil Moisture',
                smoothLine: true
            };


            hideLoading();
            chart_moisture.draw(data_moisture, options);
        }
    });


    var area_id = $('#area').val();
    getEvotranspirationLog(area_id, init_date, end_date, function (data) {
        var ev_array = [];
        ev_array.push(['Time', 'EV']);
        if (data.length == 0) {
            ev_array.push([end_date.dateFormat('Y-m-d H:i:s'), 0]);
        } else {
            $.each(data, function (index, value) {
                        console.log(data);
                        var date_received = new Date(Date.parse(value.area_date_received));

                        var tmp_array = [];
                        tmp_array.push(date_received);
                        tmp_array.push(value.area_ev);
                        ev_array.push(tmp_array);
                    }
            );
        }
        var data_ev = google.visualization.arrayToDataTable(ev_array);
        var options = {
            title: 'Evotranspiration',
            smoothLine: true
        };

        var chart_ev = new google.visualization.LineChart(document.getElementById('ev_chart'));
        chart_ev.draw(data_ev, options);
    });
    var current_valve=getValveForSensor();
    graphValveData(current_valve);
}

    function getValveForSensor(){
     var current_area=area_selector.val();
     var current_valve;
        $.ajax({
            url:"Valve_Search",
            data: {fk_area: current_area},
            success: function(data){

                $.each(data,function(index, value){
                    current_valve=value.valve_id;
                });
            }
        });
        return current_valve;
    }
    function graphValveData(current_valve) {

    getValveLog(current_valve, init_date, end_date, function (data) {
        //console.log(data);
        var valve_flow_array = [
            ['Time', 'Flow']
        ];

        if (data.length == 0) {
            valve_flow_array.push([end_date.dateFormat('Y-m-d H:i:s'),
                0]);

        } else {
            $.each(data, function (index, value) {
                var date_received = new Date(Date.parse(value.valve_date_received));

                var temp_array = [];
                temp_array.push(date_received);
                temp_array.push(value.valve_flow);
                valve_flow_array.push(temp_array);
            });
        }

       /* var data_actuator = google.visualization.arrayToDataTable(valve_actuator_array);*/
        var data_flow = google.visualization.arrayToDataTable(valve_flow_array);
        /*var data_pressure = google.visualization.arrayToDataTable(valve_pressure_array);*/

        var options = {
            smoothLine: true,
            title: 'Flow'
        };

        /*var chart_actuator = new google.visualization.LineChart(document.getElementById('valve_actuator_graph'));
        chart_actuator.draw(data_actuator, options);*/

        var chart_flow = new google.visualization.LineChart(document.getElementById('flow_chart'));
        chart_flow.draw(data_flow, options);

        /*var chart_pressure = new google.visualization.LineChart(document.getElementById('valve_pressure_graph'));
        chart_pressure.draw(data_pressure, options);*/

    });
}


</script>
</body>
</html>