<!DOCTYPE html>
<html>
<head>
    <title>Sensors - Proyect Sobek</title>
    {% include 'includeScripts.html' %}
</head>
<body>

{% include 'nav.html' %}

<div class="row">
    <div class="medium-12 columns">
        <h1>Sensors</h1>
    </div>
</div>

<div class="row card">

    <div class="medium-4 columns">
        <h3>
            Select the Sensor you wish to graph:
        </h3>
        <label>Field</label>
         <select id="field" onchange="getAreasOptions('area','field'),getSensorsForFieldSelected()"></select>
        <label>Area</label>
        <select id="area" onchange="getSensorForArea()" ></select>
        <label>Node</label>
        <select id="sensor"></select>

        <p>Select the range of dates you wish to graph:</p>

        <label for="from_datetimepicker">From</label>
        <input id="from_datetimepicker" type="text"/>

        <label for="to_datetimepicker">to</label>
        <input id="to_datetimepicker" type="text"/>

        <ul class="button-group [radius round]">
            <li>
                <button onclick="quick_date(1)" class="button">6 hours
                </button>
            </li>
            <li>
                <button onclick="quick_date(2)" class="button">24 hours
                </button>
            </li>
            <li>
                <button onclick="quick_date(3)" class="button">7 days
                </button>
            </li>
            <li>
                <button onclick="quick_date(4)" class="button">15 days
                </button>
            </li>
            <li>
                <button onclick="quick_date(5)" class="button">30 days
                </button>
            </li>
        </ul>

        <br/>
        <ul class="button-group [radius round]">
            <li>
                <button class="button" onclick="graphLogs()">Graph
                </button>
            </li>
            <li>
                <button class="button [secondary alert success]"
                        onclick="hideTag('graphs')">Clean
                </button>
            </li>
        </ul>
    </div>

    <div class="medium-4  columns">
        <h3>Current data</h3>

        <div id="current_sensor"></div>

    </div>

    <div class="medium-4 columns">
        <h3>Graphs</h3>
        <section id="graphs">
            <h4>Soil Moisture</h4>

            <div id="moisture_chart" height="400" width="1000"></div>

{#            <h4>Temperature</h4>#}
            {##}
            {#            <div id="temperature_chart" height="400" width="1000"></div>#}
        </section>

    </div>
</div>
<br/>
<br/>
<br/>
{% include 'footer.html' %}
<script>

    google.load("visualization", "1", {packages: ["corechart"]});
    getAjaxFarmFields('field', 'area', 'sensor');


    var from_picker = '#to_datetimepicker';
    var to_picker = '#from_datetimepicker';
    initDatePickers(from_picker,to_picker);

    var field_selector = $('#field');
    var area_selector = $('#area');
    var sensor_selector = $('#sensor');

    PopulateFields();
function PopulateFields() {
    var current_field;
    $.ajax({
        url: "/Farm_Field",
        data: {},
        success: function (data) {
            var options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.field_id + '">' + value.field_name + '</option>';
            });
            field_selector.html(options);
            current_field = $("#field").val();
            //console.log(current_field);
            PopulateAreaForField(current_field);
        }
    });
}
function PopulateAreaForField(field){
    var current_area;
    $.ajax({
        url: "Area_Search",
        data: {fk_farm_field: field},
        success: function (data){
            var options ="";
            $.each(data, function(index,value){
                options += '<option value=" '+ value.area_id+ '">' + value.area_name + '</option>';
            });
            area_selector.html(options);
            current_area=$("#area").val();
            PopulateSensorForArea(current_area);
        }
    });
}
function PopulateSensorForArea(area){
    $.ajax({
        url: "/Sensor_Search/",
        data: {fk_area:area},
        success: function (data){
           var options;
            $.each(data, function(index, value){
           options += '<option value=" '+ value.sensor_id+ '">' + value.sensor_id + '</option>';
        });
    }});
}
function getSensorsForFieldSelected () {
    var current_field=$("#field").val();
    $.ajax({
        url: "/Area_Search/",
        data: {fk_farm_field: current_field },
        success: function (data) {
            options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.area_id + '">' + value.area_name + '</option>';
            });
            $('#area').html(options);
            getSensorForArea('area');
        }
    });
}
function getSensorForArea(area_selector){
  var current_area=$('#'+area_selector).val();
  if(current_area===null){
      $("#sensor").html("");
      return false;
  }
  //console.log(current_area);
    $.ajax({
        url:"/Sensor_Search",
        data: {fk_area:current_area },
        success:function(data) {
            var options= "";
            $.each(data, function (index, value) {
               options += '<option value="' + value.sensor_id + '">' + value.sensor_id + '</option>';
            });
            $('#sensor').html(options);
        }
    });
}

    function graphLogs() {

        console.log(init_date.dateFormat('Y-m-d H:i:s'));
        console.log(end_date.dateFormat('Y-m-d H:i:s'));
        var sensor_id = $('#sensor').val();

        $.ajax({
            url: "/Sensor_Agg/",
            data: {
                sensor_id: sensor_id,
                min_date: init_date.dateFormat('Y-m-d H:i:s'),
                max_date: end_date.dateFormat('Y-m-d H:i:s'),
                ordering: "-sensor_date_received"
            },
            success: function (data) {

                var moisture_array = [];
                moisture_array.push(['Time', 'HL1', 'HL2', 'HL3']);

{#                var temperature_array = [];#}
{#                temperature_array.push(['Time', 'Temperature']);#}

                $.each(data, function (index, value) {
                    var date_received = new Date(Date.parse(value.sensor_date_received));
                    var temp_array = [];
                    temp_array.push(date_received);
                    temp_array.push(value.sensor_hl1);
                    temp_array.push(value.sensor_hl2);
                    temp_array.push(value.sensor_hl3);
                    moisture_array.push(temp_array);

{#                    var temp_array2 = [];#}
{#                    temp_array2.push(date_received);#}
{#                    temp_array2.push(value.sensor_temperature);#}
{#                    temperature_array.push(temp_array2);#}
                });

                var data_moisture = google.visualization.arrayToDataTable(moisture_array);
{#                var data_temperature = google.visualization.arrayToDataTable(temperature_array);#}

                //var options_moisture = {title: 'Soil Moisture'};
                //var options_temperature = {title: 'Temperature'};

                var chart_moisture = new google.visualization.LineChart(document.getElementById('moisture_chart'));
{#                var chart_temperature = new google.visualization.LineChart(document.getElementById('temperature_chart'));#}

                var options = {
                    smoothLine: true
                };

                chart_moisture.draw(data_moisture, options);
{#                chart_temperature.draw(data_temperature, options);#}

            }
        });

    }

</script>
</body>
</html>