<!DOCTYPE html>
<html>
<head>
    <title>Sensors - Proyect Sobek</title>
    {% include 'includeScripts.html' %}
</head>
<body>

{% include 'nav.html' %}

<div class="row">
    <div class="medium-12 columns">
        <h1>Sensors</h1>
    </div>
</div>

<div class="row">
    <div class="medium-5 card left">
        <h3>
            Select the Sensor you wish to graph:
        </h3>
        <label>Field</label>
        <select id="field" onchange="getAreas('area', 'field');"></select>
        <label>Area</label>
        <select id="area" onchange="getSensors('sensor', 'area');"></select>
        <label>Sensor</label>
        <select id="sensor"></select>

        <p>Select the range of dates you wish to graph:</p>

        <label for="from">From</label>
        {#        <input type="text" id="from" name="from">#}
        <input id="from_datetimepicker" type="text"/>
        <label for="to">to</label>
        {#        <input type="text" id="to" name="to">#}
        <input id="to_datetimepicker" type="text"/>

        <button onclick="quick_date(1)">24 hours</button>
        <button onclick="quick_date(2)">7 days</button>
        <button onclick="quick_date(3)">15 days</button>
        <button onclick="quick_date(4)">30 days</button>
        <button onclick="graphLogs();">Graph</button>
        <button onclick="hideTag('graphs');">Clean</button>
    </div>


    <div class="medium-6 card right">
        <h3>Graphs</h3>
        <section id="graphs">
            <div id="moisture_chart" height="400" width="1000"></div>
            <br/>

            <div id="temperature_chart" height="400" width="1000"></div>
        </section>
    </div>

</div>
<br/>
<br/>
<br/>
{% include 'footer.html' %}
<script>

    google.load("visualization", "1", {packages: ["corechart"]});
    getFields('field', 'area', 'sensor');
    var init_date;
    var end_date;
    var from = jQuery('#from_datetimepicker').datetimepicker({

        closeOnDateSelect: true,
        onSelectDate: function (current_time, $input) {
            init_date = current_time.dateFormat('Y-m-d H:i:s');
        }

    });
    var to = jQuery('#to_datetimepicker').datetimepicker({
        closeOnDateSelect: true,
        onSelectDate: function (current_time, $input) {
            end_date = current_time.dateFormat('Y-m-d H:i:s');

        }
    });

    function quick_date(option) {


        switch (option) {

            case 1:
                var current_date = new Date();
                end_date = current_date;
                init_date = current_date.setHours(current_date.getDate() - 2);
                console.log("Initial Date: " + current_date);
                console.log("End date: " + end_date);
                break;
            case 2:
                break;

        }

    }


    function graphLogs() {

        console.log(init_date);
        console.log(end_date);
        var sensor_id = $('#sensor').val();

        $.ajax({
            url: "/Sensor_Log/",
            data: {
                sensor_id: sensor_id,
                min_date: init_date,
                max_date: end_date,
                ordering: "-log_timestamp"
            },
            success: function (data) {


                var moisture_array = [];
                moisture_array.push(['Time', 'HL1', 'HL2', 'HL3']);

                var temperature_array = [];
                temperature_array.push(['Time', 'Temperature']);

                $.each(data, function (index, value) {
                    var temp_array = [];
                    temp_array.push(value.sensor_date_received);
                    temp_array.push(value.sensor_hl1);
                    temp_array.push(value.sensor_hl2);
                    temp_array.push(value.sensor_hl3);
                    moisture_array.push(temp_array);

                    var temp_array2 = [];
                    temp_array2.push(value.sensor_date_received);
                    temp_array2.push(value.sensor_temperature);
                    temperature_array.push(temp_array2);
                });

                var data_moisture = google.visualization.arrayToDataTable(moisture_array);
                var data_temperature = google.visualization.arrayToDataTable(temperature_array);

                var options_moisture = {title: 'Soil Moisture'};
                var options_temperature = {title: 'Temperature'};


                var chart_moisture = new google.visualization.LineChart(document.getElementById('moisture_chart'));
                var chart_temperature = new google.visualization.LineChart(document.getElementById('temperature_chart'));

                chart_moisture.draw(data_moisture, options_moisture);
                chart_temperature.draw(data_temperature, options_temperature);


            }
        });


    }

</script>
</body>
</html>