<!DOCTYPE html>
<html>
<head>
    <title>Stations - Proyect Sobek</title>
    {% include 'includeScripts.html' %}
</head>
<body>

{% include 'nav.html' %}

<div class="row">
    <div class="medium-12 columns">
        <h1>Weather Stations</h1>
    </div>
</div>
<div class="row card">
    <div class="medium-4 columns">
        <h3>
            Select the Weather Station you wish to graph:
        </h3>
        <label>Field</label>
        <select id="field"
                onchange="getStationsOptions('station', 'field');"></select>
        <label>Weather Station</label>
        <select id="station"></select>

        <p>Select the range of dates you wish to graph:</p>

        {# Inputs #}
        <label for="from">From</label>
        <input id="from_datetimepicker" type="text"/>
        <label for="to">to</label>
        <input id="to_datetimepicker" type="text"/>

        {#Buttons#}
        <ul class="button-group [radius round]">
            <li>
                <button onclick="quick_date(1)" class="button">6 hours</button>
            </li>
            <li>
                <button onclick="quick_date(2)" class="button">24 hours</button>
            </li>
            <li>
                <button onclick="quick_date(3)" class="button">7 days</button>
            </li>
            <li>
                <button onclick="quick_date(4)" class="button">15 days</button>
            </li>
            <li>
                <button onclick="quick_date(5)" class="button">30 days</button>
            </li>
        </ul>

        <br/>
        <ul class="button-group [radius round]">
            <li>
                <button class="button" onclick="graphLogs()">Graph</button>
            </li>
            <li>
                <button class="button [secondary alert success]"
                        onclick="hideTag('graphs')">Clean
                </button>
            </li>
        </ul>
    </div>

    <div class="medium-4 columns">

        <h3>Current data</h3>

        <div id="current_station"></div>

    </div>

    <div class="medium-4 columns">
        <section id="graphs">

            <h3>Status</h3>

            <div id="status_chart" height="400" width="1000"></div>

            <h4>Relative Humidity</h4>

            <div id="moisture_chart" height="400" width="1000"></div>

            <h4>Temperature</h4>

            <div id="temperature_chart" height="400" width="1000"></div>

            <h4>Wind Speed</h4>

            <div id="wind_chart" height="400" width="1000"></div>

            <h4>Solar Radiation</h4>

            <div id="radiation_chart" height="400" width="1000"></div>

        </section>
    </div>

</div>
{% include 'footer.html' %}
<script>

    google.load("visualization", "1", {packages: ["corechart"]});
    getAjaxFarmFields('field', 'station', '');
    var from_picker = '#to_datetimepicker';
    var to_picker = '#from_datetimepicker';

    initDatePickers(from_picker, to_picker);

    console.log($('#station').val());

    function graphLogs() {
        console.log(init_date.dateFormat('Y-m-d H:i:s'));
        console.log(end_date.dateFormat('Y-m-d H:i:s'));


        $.ajax({
            url: "/Station_Agg/",
            data: {
                station_id: $('#station').val(),
                min_date: init_date.dateFormat('Y-m-d H:i:s'),
                max_date: end_date.dateFormat('Y-m-d H:i:s'),
                ordering: "-station_date_received"
            },
            success: function (data) {

{#                var status_array = [];#}
{#                status_array.push(['Time', 'Status']);#}

                var relative_humidity_array = [];
                relative_humidity_array.push(['Time', 'Relative Humidity']);

                var temperature_array = [];
                temperature_array.push(['Time', 'Temperature']);

                var wind_speed_array = [];
                wind_speed_array.push(['Time', 'Wind Speed']);

                var solar_radiation_array = [];
                solar_radiation_array.push(['Time', 'Solar Radiation']);

                $.each(data, function (index, value) {
                    var date_received = new Date(Date.parse(value.station_date_received));

{#                    var tmp_status = [];#}
{#                    tmp_status.push(date_received);#}
{#                    tmp_status.push(value.station_status);#}
{#                    status_array.push(tmp_status);#}

                    var tmp_humidity = [];
                    tmp_humidity.push(date_received);
                    tmp_humidity.push(value.station_relative_humidity);
                    relative_humidity_array.push(tmp_humidity);

                    var tmp_temperature = [];
                    tmp_temperature.push(date_received);
                    tmp_temperature.push(value.station_temperature);
                    temperature_array.push(tmp_temperature);

                    var tmp_wind = [];
                    tmp_wind.push(date_received);
                    tmp_wind.push(value.station_wind_speed);
                    wind_speed_array.push(tmp_wind);

                    var tmp_radiation = [];
                    tmp_radiation.push(date_received);
                    tmp_radiation.push(value.station_solar_radiation);
                    solar_radiation_array.push(tmp_radiation);

                });

{#                var data_status = google.visualization.arrayToDataTable(status_array);#}
                var data_humidity = google.visualization.arrayToDataTable(relative_humidity_array);
                var data_temperature = google.visualization.arrayToDataTable(temperature_array);
                var data_wind = google.visualization.arrayToDataTable(wind_speed_array);
                var data_radiation = google.visualization.arrayToDataTable(solar_radiation_array);


{#                var chart_status = new google.visualization.LineChart(document.getElementById('status_chart'));#}
                var chart_humidity = new google.visualization.LineChart(document.getElementById('moisture_chart'));
                var chart_temperature = new google.visualization.LineChart(document.getElementById('temperature_chart'));
                var chart_wind = new google.visualization.LineChart(document.getElementById('wind_chart'));
                var chart_radiation = new google.visualization.LineChart(document.getElementById('radiation_chart'));

                var options = {
                    smoothLine: true
                };

{#                chart_status.draw(data_status, options);#}
                chart_humidity.draw(data_humidity, options);
                chart_temperature.draw(data_temperature, options);
                chart_wind.draw(data_wind, options);
                chart_radiation.draw(data_radiation, options);

            }
        });
    }



</script>
</body>
</html>