<!DOCTYPE html>
<html>
<head>
    <title>Water Automation-Weather</title>
    {% include 'includeScripts.html' %}
</head>
<body>

{% include 'nav.html' %}
 
<div class="row">
    <div class="medium-12 columns">
        <h1>Weather</h1>
    </div>
</div>
<div class="row card">
    <div class="medium-3 columns">
        <h5>
            Select the Weather Station you wish to graph:
        </h5>
        <label>Field</label>
        <select id="field"
                onchange="getStationForField()"></select>
        <label>Weather Station</label>
        <select id="station"></select>
    </div>
    <div class="medium-3 columns">
         <h3>Current data</h3>
        <div id="current_station"></div>
    </div>
    <div class="medium-6 columns">
        <p>Select the range of dates you wish to graph:</p>

        {# Inputs #}
           <div class="row">
                <div class="small-6 columns">
                    <label for="from_datetimepicker" >From</label>
                    <input id="to_datetimepicker" type="text"/>
                 </div>
                <div class="small-6 columns">
                     <label for="to_datetimepicker" >to</label>

                     <input id="from_datetimepicker" type="text"/>
                </div>
        </div>

        {#Buttons#}
        <ul class="button-group [radius round]">
            <li>
                <button onclick="quick_date(1)" class="tiny button">6 hours</button>
            </li>
            <li>
                <button onclick="quick_date(2)" class="tiny button">24 hours</button>
            </li>
            <li>
                <button onclick="quick_date(3)" class="tiny button">7 days</button>
            </li>
            <li>
                <button onclick="quick_date(4)" class="tiny button">15 days</button>
            </li>
            <li>
                <button onclick="quick_date(5)" class="tiny button">30 days</button>
            </li>
        </ul>

        <br/>
        <ul class="button-group [radius round]">
            <li>
                <button class="small button" onclick="graphLogs()">Graph</button>
            </li>
            <li>
                <button class="small button [secondary alert success]"
                        onclick="hideTag('graphs')">Clean
                </button>
            </li>
        </ul>
         <div class="progress round">
            <p id="progress_message" style="float: left; margin-right:5px"></p>
            <span id="progress" class="meter" style="width: 0; float: left">
           </span>
       </div>
    </div>

    <div id="status_chart" class="medium-10 columns graph"></div>
    <div id="moisture_chart" class="medium-10 columns graph"></div>
    <div id="temperature_chart" class="medium-10 columns graph"></div>
    <div id="wind_chart" class="medium-10 columns graph"></div>
    <div id="radiation_chart" class="medium-10 columns graph"></div>
  </div>
{% include 'footer.html' %}
<script>

    google.load("visualization", "1", {packages: ["corechart"]});
    //getAjaxFarmFields('field', 'station', '');
    var from_picker = '#to_datetimepicker';
    var to_picker = '#from_datetimepicker';

    initDatePickers(from_picker, to_picker);

    console.log($('#station').val());
    PopulateFields();

    function PopulateFields() {

    var current_field;
    $.ajax({
        url: "/Farm_Field",
        data: {},
        success: function (data) {
            var options = "";
            $.each(data, function (index, value) {
                options += '<option value="' + value.field_id + '">' + value.field_name + '</option>';
            });
            $('#field').html(options);
            current_field = $("#field").val();
            //console.log(current_field);
            PopulateStationForField(current_field);
        }
    });
}

    function PopulateStationForField (current_field) {
       var field;
       $.ajax({
        url: "/Weather_Station/",

        success: function (data){
            var options ="";
            $.each(data, function(index,value){

                if (current_field === value.station_id.toString().substr(0,1)) {
                    options += '<option value=" ' + value.station_id + '">' + value.station_name + '</option>';
                }
                else {;}
            });
            $('#station').html(options);
             LoadCurrentStationData();
        }
    });

}
  function getStationForField () {
      var current_field= $("#field").val();
      PopulateStationForField(current_field);
  }

function LoadCurrentStationData () {
  var current_station=$('#station').val();
  var station_data= ' ';
  var status;
  //console.log(current_area);
    $.ajax({
        url:"/Weather_Station/" + current_station,
        success:function(data) {
            var date_received;
                console.log(data);
                   var dr = new Date(Date.parse(data.station_date_received));
                date_received = dr.toLocaleString();
                station_data = "<h3>"+data.station_name + "<h3><p>Station id: " + data.station_id + "<br>";
                station_data += "Date received: " + date_received + "<br>";
                station_data += "Humidity: "+ data.station_relative_humidity + "%<br>";
                station_data += "Temperature: " + data.station_temperature + "ºC<br>";
                station_data += "Wind Speed: " + data.station_wind_speed + "m&frasl;s<br>";
                station_data += "Radiation: " + data.station_solar_radiation + "W&frasl;m<sup>2</sup><br>";
                status= data.station_status;
            if (status === 1) {
                station_data += "Status: OK</p>"
            } else {
                station_data += "Status: Communication Error</p>"
            }

            $('#current_station').html(' ');
            $('#current_station').html(station_data);
        }
    });

}

    function graphLogs() {
        console.log(init_date.dateFormat('Y-m-d H:i:s'));
        console.log(end_date.dateFormat('Y-m-d H:i:s'));


        $.ajax({
            url: "/Station_Log/",
            data: {
                station_id: $('#station').val(),
                min_date: init_date.dateFormat('Y-m-d H:i:s'),
                max_date: end_date.dateFormat('Y-m-d H:i:s'),
                ordering: "-station_date_received"
            },
            beforeSend: displayLoading,
            success: function (data) {

{#                var status_array = [];#}
{#                status_array.push(['Time', 'Status']);#}

                var relative_humidity_array = [];
                relative_humidity_array.push(['Time', 'Relative Humidity']);

                var temperature_array = [];
                temperature_array.push(['Time', 'Temperature']);

                var wind_speed_array = [];
                wind_speed_array.push(['Time', 'Wind Speed']);

                var solar_radiation_array = [];
                solar_radiation_array.push(['Time', 'Solar Radiation']);

                $.each(data, function (index, value) {
                    var date_received = new Date(Date.parse(value.station_date_received));

{#                    var tmp_status = [];#}
{#                    tmp_status.push(date_received);#}
{#                    tmp_status.push(value.station_status);#}
{#                    status_array.push(tmp_status);#}

                    var tmp_humidity = [];
                    tmp_humidity.push(date_received);
                    tmp_humidity.push(value.station_relative_humidity);
                    relative_humidity_array.push(tmp_humidity);

                    var tmp_temperature = [];
                    tmp_temperature.push(date_received);
                    tmp_temperature.push(value.station_temperature);
                    temperature_array.push(tmp_temperature);

                    var tmp_wind = [];
                    tmp_wind.push(date_received);
                    tmp_wind.push(value.station_wind_speed);
                    wind_speed_array.push(tmp_wind);

                    var tmp_radiation = [];
                    tmp_radiation.push(date_received);
                    tmp_radiation.push(value.station_solar_radiation);
                    solar_radiation_array.push(tmp_radiation);

                });

{#                var data_status = google.visualization.arrayToDataTable(status_array);#}
                var data_humidity = google.visualization.arrayToDataTable(relative_humidity_array);
                var data_temperature = google.visualization.arrayToDataTable(temperature_array);
                var data_wind = google.visualization.arrayToDataTable(wind_speed_array);
                var data_radiation = google.visualization.arrayToDataTable(solar_radiation_array);


{#                var chart_status = new google.visualization.LineChart(document.getElementById('status_chart'));#}
                var chart_humidity = new google.visualization.LineChart(document.getElementById('moisture_chart'));
                var chart_temperature = new google.visualization.LineChart(document.getElementById('temperature_chart'));
                var chart_wind = new google.visualization.LineChart(document.getElementById('wind_chart'));
                var chart_radiation = new google.visualization.LineChart(document.getElementById('radiation_chart'));

                var options1 = {
                        smoothLine: true,
                        title: 'Humidity',
                          vAxis: {
                             viewWindow: { max:70, min:0}
                           }
                    };
                 var options2 = {
                        smoothLine: true,
                        title: 'Temperature',
                          vAxis: {
                             viewWindow: { max:70, min:-50}
                           }
                    };
                var options3 = {
                        smoothLine: true,
                        title: 'Wind Speed',
                          vAxis: {
                             viewWindow: { max:20, min:0}
                           }
                    };
                var options4 = {
                        smoothLine: true,
                        title: 'Radiation',
                          vAxis: {
                             viewWindow: { max:2000, min:0}
                           }
                    };
                hideLoading();
{#                chart_status.draw(data_status, options);#}
                chart_humidity.draw(data_humidity, options1);
                chart_temperature.draw(data_temperature, options2);
                chart_wind.draw(data_wind, options3);
                chart_radiation.draw(data_radiation, options4);

            }
        });
    }



</script>
</body>
</html>