<html>
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% include 'includeScripts.html' %}
</head>
<body>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

<div id="myModal" class="reveal-modal" data-reveal>
    <h2>Yo!</h2>
    <label>
        Shit
        <select></select>
    </label>
</div>
{% include 'footer.html' %}
<script>
    $(document).ready(function () {
        $('#myModal').foundation('reveal', 'open')
    });

</script>

</body>
</html>