<!DOCTYPE html>
<html>
<head>
    <title>Valves - Proyect Sobek</title>
    {% include 'includeScripts.html' %}
</head>
<body>

{% include 'nav.html' %}

<div class="row">
    <div class="medium-12 columns">
        <h1>Valves</h1>
    </div>
</div>
<div class="row card">
    <div class="medium-4 columns">
        <h3>
            Select the valve you wish to graph:
        </h3>
        <label>Field</label>
        <select id="field"
                onchange="getAreasOptions('area', 'field');"></select>
        <label>Area</label>
        <select id="area"
                onchange="getValvesOptions('valve', 'area');"></select>
        <label>Valve</label>
        <select id="valve"></select>

        <p>Select the range of dates you wish to graph:</p>

        <label for="from">From</label>
        <input id="from_datetimepicker" type="text"/>
        <label for="to">to</label>
        <input id="to_datetimepicker" type="text"/>


        <ul class="button-group [radius round]">
            <li>
                <button onclick="quick_date(1)" class="button">6 hours</button>
            </li>
            <li>
                <button onclick="quick_date(2)" class="button">24 hours</button>
            </li>
            <li>
                <button onclick="quick_date(3)" class="button">7 days</button>
            </li>
            <li>
                <button onclick="quick_date(4)" class="button">15 days</button>
            </li>
            <li>
                <button onclick="quick_date(5)" class="button">30 days</button>
            </li>
        </ul>
        <br/>
        <ul class="button-group [radius round]">
            <li>
                <button class="button" onclick="graphLogs()">Graph</button>
            </li>
            <li>
                <button class="button [secondary alert success]"
                        onclick="hideTag('graphs')">Clean
                </button>
            </li>
        </ul>
    </div>

    <div class="medium-4 columns">
        <h3>Current data</h3>

        <div id="current_valve"></div>
    </div>

    <div class="medium-4 columns">
        <h3>Graphs</h3>
        <section id="graphs">
            <h4>Actuator & Status</h4>

            <div id="valve_actuator_graph" height="400" width="1000"></div>

            <h4>Flow</h4>

            <div id="valve_flow_graph" height="400" width="1000"></div>

            <h4>Pressure</h4>

            <div id="valve_pressure_graph" height="400" width="1000"></div>
        </section>
    </div>
</div>
{% include 'footer.html' %}

<script>
    //var tzdiff = new Date().getTimezoneOffset()/60;

    getAjaxFarmFields('field','area','valve');

    google.load("visualization", "1", {packages: ["corechart"]});

    var from_picker = '#to_datetimepicker';
    var to_picker = '#from_datetimepicker';

    initDatePickers(from_picker, to_picker);

    function graphLogs() {

        console.log(init_date.dateFormat('Y-m-d H:i:s'));
        console.log(end_date.dateFormat('Y-m-d H:i:s'));
        var sensor_id = $('#sensor').val();

        $.ajax({
            url: "/Valve_Agg/",
            data: {
                sensor_id: sensor_id,
                min_date: init_date.dateFormat('Y-m-d H:i:s'),
                max_date: end_date.dateFormat('Y-m-d H:i:s'),
                ordering: "-valve_date_received"
            },
            success: function (data) {

                var valve_actuator_array = [
                    ['Time', 'Actuator', 'Status']
                ];
                var valve_flow_array = [
                    ['Time', 'Flow']
                ];
                var valve_pressure_array = [
                    ['Time', 'Pressure']
                ];

                $.each(data, function (index, value) {
                    var date_received = new Date(Date.parse(value.valve_date_received));

                    var temp_array = [];
                    temp_array.push(date_received);
                    temp_array.push(parseInt(value.valve_user_define_1));
                    temp_array.push(parseInt(value.valve_status));
                    valve_actuator_array.push(temp_array);

                    temp_array = [];
                    temp_array.push(date_received);
                    temp_array.push(value.valve_flow);
                    valve_flow_array.push(temp_array);

                    temp_array = [];
                    temp_array.push(date_received);
                    temp_array.push(value.valve_pressure);
                    valve_pressure_array.push(temp_array);
                });

                var data_actuator = google.visualization.arrayToDataTable(valve_actuator_array);
                var data_flow = google.visualization.arrayToDataTable(valve_flow_array);
                var data_pressure = google.visualization.arrayToDataTable(valve_pressure_array);

                var options = {
                    smoothLine: true
                };

                var chart_actuator = new google.visualization.LineChart(document.getElementById('valve_actuator_graph'));
                chart_actuator.draw(data_actuator, options);

                var chart_flow = new google.visualization.LineChart(document.getElementById('valve_flow_graph'));
                chart_flow.draw(data_flow, options);

                var chart_pressure = new google.visualization.LineChart(document.getElementById('valve_pressure_graph'));
                chart_pressure.draw(data_pressure, options);

            }
        });

    }

</script>
</body>
</html>