<!DOCTYPE html>
<html>
<head>
    <title>Valves - Proyect Sobek</title>
    {% include 'includeScripts.html' %}
</head>
<body>

{% include 'nav.html' %}

<div class="row">
    <div class="medium-12 columns">
        <h1>Valves</h1>
    </div>
</div>
<div class="row">
    <div class="medium-5 card left">
        <h3>
            Select the valve you wish to graph:
        </h3>
        <label>Field</label>
        <select id="field" onchange="getAreas('area', 'field');"></select>
        <label>Area</label>
        <select id="area" onchange="getValves('valve', 'area');"></select>
        <label>Valve</label>
        <select id="valve"></select>

        <p>Select the range of dates you wish to graph:</p>

        <label for="from">From</label>
        <input id="from_datetimepicker" type="text"/>
        <label for="to">to</label>
        <input id="to_datetimepicker" type="text"/>


        <ul class="button-group [radius round]">
            <li>
                <button onclick="quick_date(1)" class="button">6 hours</button>
            </li>
            <li>
                <button onclick="quick_date(2)" class="button">24 hours</button>
            </li>
            <li>
                <button onclick="quick_date(3)" class="button">7 days</button>
            </li>
            <li>
                <button onclick="quick_date(4)" class="button">15 days</button>
            </li>
            <li>
                <button onclick="quick_date(5)" class="button">30 days</button>
            </li>
        </ul>
        <br/>
        <ul class="button-group [radius round]">
            <li>
                <button class="button" onclick="graphLogs()">Graph</button>
            </li>
            <li>
                <button class="button [secondary alert success]" onclick="hideTag('graphs')">Clean</button>
            </li>
        </ul>
    </div>

    <div class="medium-6 card right">
        <h3>Graphs</h3>
        <section id="graphs" style="display: none;">

            <div id="valve_actuator_graph" height="400" width="1000"></div>
            <div id="valve_flow_graph" height="400" width="1000"></div>
            <div id="valve_pressure_graph" height="400" width="1000"></div>

        </section>

    </div>
</div>
{% include 'footer.html' %}

<script>
    google.load("visualization", "1", {packages: ["corechart"]});
    getFields('field', 'area', 'valve');

    var init_date;
    var end_date;
    var from = jQuery('#from_datetimepicker').datetimepicker({

        closeOnDateSelect: true,
        defaultChecked: true,
        onSelectDate: function (current_time, $input) {
            init_date = current_time.dateFormat('Y-m-d H:i:s');
        }

    });
    var to = jQuery('#to_datetimepicker').datetimepicker({
        closeOnDateSelect: true,
        defaultChecked: true,
        onSelectDate: function (current_time, $input) {
            end_date = current_time.dateFormat('Y-m-d H:i:s');

        }
    });

    function quick_date(option) {

        init_date = new Date();
        end_date = new Date();

        switch (option) {

            case 1: //6 hours
                init_date.setHours(end_date.getHours() - 6);
                from.datetimepicker({
                    value: init_date.dateFormat('Y-m-d H:i:s')
                });
                to.datetimepicker({
                    value: end_date.dateFormat('Y-m-d H:i:s')
                });
                break;

            case 2: //24 hours
                init_date.setHours(end_date.getHours() - 24);
                from.datetimepicker({
                    value: init_date.dateFormat('Y-m-d H:i:s')
                });
                to.datetimepicker({
                    value: end_date.dateFormat('Y-m-d H:i:s')
                });
                break;

            case 3: //7 days
                init_date.setDate(end_date.getDate() - 7);
                from.datetimepicker({
                    value: init_date.dateFormat('Y-m-d H:i:s')
                });
                to.datetimepicker({
                    value: end_date.dateFormat('Y-m-d H:i:s')
                });
                break;

            case 4: //15 days
                init_date.setDate(end_date.getDate() - 15);
                from.datetimepicker({
                    value: init_date.dateFormat('Y-m-d H:i:s')
                });
                to.datetimepicker({
                    value: end_date.dateFormat('Y-m-d H:i:s')
                });
                break;

            case 5: //30 days
                init_date.setDate(end_date.getDate() - 30);
                from.datetimepicker({
                    value: init_date.dateFormat('Y-m-d H:i:s')
                });
                to.datetimepicker({
                    value: end_date.dateFormat('Y-m-d H:i:s')
                });
                break;

        }

        function graphLogs() {

            console.log(init_date);
            console.log(end_date);
            var sensor_id = $('#sensor').val();

            $.ajax({
                url: "/Valve_Log/",
                data: {
                    sensor_id: sensor_id,
                    min_date: init_date,
                    max_date: end_date,
                    ordering: "-log_timestamp"
                },
                success: function (data) {

                    var valve_actuator_array = [
                        ['Time', 'Actuator', 'Status']
                    ];
                    var valve_flow_array = [
                        ['Time', 'Flow']
                    ];
                    var valve_pressure_array = [
                        ['Time', 'Pressure']
                    ];

                    $.each(data, function (index, value) {
                        var temp_array = [];
                        temp_array.push(value.valve_date_received);
                        temp_array.push(parseInt(value.valve_user_define_1));
                        temp_array.push(parseInt(value.valve_status));
                        valve_actuator_array.push(temp_array);

                        temp_array = [];
                        temp_array.push(value.valve_date_received);
                        temp_array.push(value.valve_flow);
                        valve_flow_array.push(temp_array);

                        temp_array = [];
                        temp_array.push(value.valve_date_received);
                        temp_array.push(value.valve_pressure);
                        valve_pressure_array.push(temp_array);
                    });

                    var data_actuator = google.visualization.arrayToDataTable(valve_actuator_array);
                    var data_flow = google.visualization.arrayToDataTable(valve_actuator_array);
                    var data_pressure = google.visualization.arrayToDataTable(valve_pressure_array);

                    var options_actuator = {title: 'Actuator & Status'};
                    var options_flow = {title: 'Flow'};
                    var options_pressure = {title: 'Pressure'};

                    var chart_actuator = new google.visualization.LineChart(document.getElementById('valve_actuator_graph'));
                    chart_actuator.draw(data_actuator, options_actuator);

                    var chart_flow = new google.visualization.LineChart(document.getElementById('valve_flow_graph'));
                    chart_flow.draw(data_flow, options_flow);

                    var chart_pressure = new google.visualization.LineChart(document.getElementById('valve_pressure_graph'));
                    chart_pressure.draw(data_pressure, options_pressure);

                }
            });

        }

    }

</script>
</body>
</html>